h1 {
    color: brown;
    font-size: 30px;
}

p {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h3 {
    color: gray;
    font-size: 70px;
    font-family: Papyrus;

}